<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>person name:
        <%= ID %>
    </h1>
    <h2>message:
        <%= message %>
    </h2>
    <% switch (message) { 
  case "hola" : %>
        <% for(let i = 0; i < time; i++){ %>
            <p>hola
                <%= ID %>
            </p>
            <% } 
    break;
    
  case "Adios" : %>
                <%  for(let i = 0; i < time; i++){ %>
                    <p>Adios
                        <%= ID %>
                    </p>
                    <% } 
    break;
   
  case "Bienvenido" : %>
                        <%   for(let i = 0; i < time; i++){ %>
                            <p>Bienvenido
                                <%= ID %>
                            </p>
                            <% } 
    break;
}; %>

</body>

</html>